@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --primary: #b525f8;
  --secondary: #c9abd9;
  --tertiary: #efecf0;
  --quad: #423d47;
  --white: #ffffff;
  --light: "#";
  --medium: #999999;
  --dark: #2c2c2c;
  --black: #111111;
  --light: #e1e1e1;
  --blue: #3b7ee2;
}

*,
html {
  scroll-behavior: smooth !important;
}

body {
  color: #2c2c2c;
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3 {
  line-height: 125%;
}
p {
  line-height: 150%;
}

.checkbox-container {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  margin-bottom: 0.25rem;
}

.checkbox-container label {
  cursor: pointer;
  display: flex;
  font-size: 0.875rem;
  color: var(--medium);
  font-weight: 600;
  order: -1;
}
.checkbox-container input[type="checkbox"] {
  cursor: pointer;
  opacity: 0;
  position: absolute;
}

.checkbox-container label::after {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid #999999;
  border-radius: 2px;
  margin-left: 0.25rem;
}

.checkbox-container label:hover::after,
.checkbox-container input[type="checkbox"]:hover + label::after {
  opacity: 0.8;
}

.checkbox-container input[type="checkbox"]:checked + label::after {
  content: "\002714";
  border: none;
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  gap: 2rem;
}

@media screen and (min-width: 900px) {
  .cards-grid {
    grid-template-columns: repeat(3, 16rem);
    grid-template-rows: repeat(1, 1fr);
    justify-content: center;
    gap: 3rem;
  }
}
@media screen and (min-width: 1280px) {
  .header-w {
    width: 64rem;
  }
}
@media screen and (min-width: 1440px) {
  .header-w {
    width: 70rem;
  }
}

.pull-out {
  animation: pull-out 200ms ease-out;
}

@keyframes pull-out {
  0% {
    width: 0;
  }
  100% {
    width: 20rem;
  }
}

.menu-dropdown {
  animation: menu-dropdown 250ms;
}

@keyframes menu-dropdown {
  0% {
    transform: translateY(-1rem);
  }
}

.button-fade-in {
  animation: button-fade-in 300ms timing-function delay iteration-count
    direction fill-mode;
}
@keyframes button-fade-in {
  0% {
    opacity: 30%;
  }
  100% {
    opacity: 100%;
  }
}

.bg__quickie {
  filter: brightness(70%);
}

.sublist {
  list-style: circle;
}

.hero__img {
  filter: brightness(30%);
}
.features__bg {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(211, 181, 225, 0.3575805322128851) 100%
  );
}
.features__img {
  aspect-ratio: 4 / 3;
  object-fit: cover;
}
@media screen and (min-width: 1280px) {
  .features__img {
    max-width: 25rem;
  }
}
.cta__img {
  filter: brightness(15%);
}
